$site-background: #fafafa;
$font-site: 'Lato', sans-serif;
$border: 1px solid gray;
$color-dark: #3f7cac;
$color-side: #95afba;
$color-body: #bdc4a7;
$color-acc1: #d5e1a3;
$color-acc2: #e2f89c;

body {
	padding: 0; 
	margin:0;
	background: $site-background;
	font-family: $font-site;
	font-size: 20px;
}

header {
	background: $color-side;
} 

footer {
	justify-content: center;
	align-items: center;
	background: $color-dark;
}

.HolyGrail,
.HolyGrail-body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.HolyGrail-nav {
	order: -1;
}

@media (min-width: 768px) {
	.HolyGrail-body {
		flex-direction: row;
		min-height: 90vh;
		flex: 1;
	}
	.HolyGrail-content {
		display: flex;
		flex: 1;
		background: $color-body;  
		flex-flow: row wrap;
		align-content: flex-start;

		.box { 
			list-style: none; 
			display: flex;	
			flex-flow: row wrap;
			align-content: flex-start;
			margin:0;
			padding:0;

			li {
				margin: auto;
				border: $border;
				width: 200px; 
				height: 150px;
			}			
		}
	}
	.HolyGrail-nav {
		/* 12em is the width of the columns */
		flex: 0 0 12em;
		background: $color-side;
	}
}